<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Tarefas</title>
    <!-- Link para o CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">🏠 Início</a>
        <a href="{{ url_for('registrar_desenvolvedor') }}">👤 Cadastrar Dev</a>
        {% if logado %}
            <a href="{{ url_for('criar_tarefa') }}">📝 Criar Tarefa</a>
            <a href="{{ url_for('buscar_tarefas') }}">🔍 Pesquisar/Editar</a>
            <a href="{{ url_for('deslogar') }}"> 🚪 Sair</a>
            <span>Bem vindo, {{usuario}}</span>
        {%endif%}
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>

</html>