{% extends "base.html" %}
{% block content %}
<h2>Cadastrar Desenvolvedor</h2>
<form method="POST" action="{{url_for('registrar_desenvolvedor')}}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.nome.label }}
        {{ form.nome() }}
        {% for error in form.nome.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.senha.label }}
        {{ form.senha() }}
        {% for error in form.senha.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.senha_confirmacao.label }}
        {{ form.senha_confirmacao() }}
        {% for error in form.senha_confirmacao.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit() }}
</form>
{% endblock %}